node_modules
vendor
.env
.git
.gitignore
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docker-compose.yml
Dockerfile
.dockerignore
npm-debug.log
yarn-debug.log
yarn-error.log
.phpunit.result.cache
.vscode
.idea
